<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <ul class="header__menu">
            <li class="header__item">
                <a href={{learn_url}} class="header__link">Тест1</a>
            </li>
            <li class="header__item">
                <a href={{test_link}} class="header__link">Тест2</a>
            </li>
            <li class="header__item">
                <a href={{test_2link}} class="header__link">Тест3</a>
            </li>
        </ul>
    </header>

{{% block content%}}
{{% endblock %}}

</body>
</html>