*,
*::before,
::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header__container {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    min-height: 114px;
    align-items: center;
}

.header__menu {
    flex: 1 1 auto;
}

.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
}

.menu__item {
    margin: 0px 40px 0px 0px;
}

.menu__link {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.2;
    color: #000;
    ;
}

.header__button {
    flex: 0 0 252px;
    display: flex;
    justify-content: flex-end;
}

.button {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #fcfdfe;
    padding: 14px 30px;
    border-radius: 5px;
    background-color: #ec5863;
    transition: all 0.5s ease 0s;
}

.button:hover {
    background-color: #ec8188;
}

.button__blue {
    background: #FB8F1D;
}

.button__blue:hover {
    background: #e9e4df;
}

[class*="__container"] {
    max-width: 1057px;
    margin: 0px auto;
}