<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Study</title>

    <!--Подключаю сторонние файлы-->
    <link rel="stylesheet" href="../static/css/study_page.css">

    <!--Подключаю шрифты-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <!--Основная оболочка-->
    <div class="wrapper">
        <!--Хедер с оболочкой для контента-->
        <div class="header__container">
            <!--сам хедер с содержимым-->
            <header class="header">
                <!--Л-->
                <div class="header__title">
                    <img src="../static/images/logo_welcome_page.svg" alt="" class="header__image">

                    <p class="header__text">
                        EcolStudy
                    </p>
                </div>

                <!---->
                <div class="header__menu">
                    <!---->
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="" class="header__link header__active">Study</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">Forum</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">Profile</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">News</a>
                        </li>
                    </ul>
                </div>
                
                <!---->
                <div class="header__account">
                    <!---->
                    <div class="account__logo">
                        <img src="../static/images/logo_welcome_page.svg" alt="" class="account__image">
                    </div>
                </div>
            </header>
        </div>

        <!--Блок с основным контентом-->
        <main class="main__container">
            <div class="main__text">
                Любо́вь — чувство, свойственное человеку, глубокая привязанность и устремлённость к другому человеку или объекту, чувство глубокой симпатии.

    Любовь включает в себя ряд сильных и позитивных эмоциональных и психических состояний, от самой возвышенной добродетели и до самого простого удовольствия. Примером такого широкого диапазона значений является тот факт, что любовь матери отличается от любви супруга, которая, в свою очередь, отличается от любви к еде или любви к Родине. Любовь выступает одной из трёх главных добродетелей христианства наряду с верой и надеждой. Большое разнообразие смысловых оттенков в сочетании со сложностью самого чувства означает, что любовь является необычайно трудной для определения по сравнению с другими эмоциональными состояниями. Чаще всего любовь характеризуется как чувство сильного влечения и эмоциональной привязанности[7]. Чувство, противоположное любви, называется ненавистью; с другой стороны, любви противопоставляется равнодушие.

Любовь рассматривается также как философская категория, в виде субъектного отношения, интимного избирательного чувства, направленного на предмет любви. Любовь выступает важнейшим субъективным
            </div>
        </main>
    </div>
</body>
</html>