<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EcolStudy</title>

    <!--Подключение других файлов к шаблону-->
    <link rel="stylesheet" href="../static/css/welcome_page.css">
    <link rel="stylesheet" href="../static/css/footer_styles.css">
    <!--Подключение шрифтов-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap" rel="stylesheet">

</head>
<body>
    <!--Оболочка для содержимого сайта-->
    <div class="wrapper">
        <!--Шапочка сайта с классом caontainer-->
        <header class="header__container">
            <!--Блок с логотипом сайта-->
            <div class="header__logo">
                <img src="../static/images/logo_welcome_page.svg" alt="image_logo">
            </div>
            
            <!--Блок с ссылками и кнопками-->
            <div class="header__navigation">
                <!--Меню с ссылками -->
                <div class="header__menu">
                    <ul class="header__list">
                        <li class="header__item">
                            <a href="../api" class="header__link">API</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">About</a>
                        </li>
                        <li class="header__item">
                            <a href="" class="header__link">Partners</a>
                        </li>
                    </ul>
                </div>
                
                <!--Блок с кнопками -->
                <div class="header__buttons">
                    <div class="button__login header__button">
                        <a href="../login" class="button__text text__login">Login</a>
                    </div>
                    
                    <div class="button__register header__button">
                        <a href="../register" class="button__text text__register">Register</a>
                    </div>
                </div>
            </div>

        </header>

        <!--Блок с контентом на главной странице-->
        <main class="content__container">
            <!--Первый блок с контентом-->
            <div class="content__block1">
                <!--Блок с поиском в первом блоке-->
                <div class="content__finder">
                    <!--Главный текст-->
                    <div class="main__text">
                        <p>Explore and Travel</p>
                    </div>
                    <!--Блок с текстом поменьше-->
                    <div class="low__text">
                        <p>Holiday Finder</p>
                        <div class="finder__line"></div>
                    </div>
                    <!--Блок с формами для поиска-->
                    <div class="finder__forms">
                        <div class="forms__level1">
                            <input type="text">
                            <input type="search" name="" id="">
                        </div>
                        <div class="forms level2">
                            <input type="text">
                            <input type="search" name="" id="">
                        </div>
                    </div>
                </div>

                <!--Картинка -->
                <div class="content__image1">
                    <img src="../static/images/img1_welcome_page.svg" alt="">
                </div>
            </div>
        </main>

        <!--Футер на главной странице (будет также на каждой странице)-->
        <footer class="footer__container">
            <div class="footer__information">
                <div class="footer__title">
                    <div class="title__image">
                        <img src="../static/images/logo_welcome_page.svg" alt="">
                    </div>

                    
                        <div class="text__main">
                            Plan and book your perfect trip with expert advice, travel tips destination information from us. 
                        </div>
                        <div class="text__low">
                            ©2022 EcolStudy. All rights reserved
                        </div>
                        
                </div>

                <div class="footer__countries">
                    <div class="countries__title">
                        Countries
                    </div>

                    <div class="counties__menu">
                        <ul class="countries__list">
                            <li class="countries__item">
                                <a href="" class="countries__linkk">Russia</a>
                            </li>
                            <li class="countries__item">
                                <a href="" class="countries__linkk">New Zeland</a>
                            </li>
                            <li class="countries__item">
                                <a href="" class="countries__linkk">Sweden</a>
                            </li>
                            <li class="countries__item">
                                <a href="" class="countries__linkk">Canada</a>
                            </li>
                            <li class="countries__item">
                                <a href="" class="countries__linkk">Finland</a>
                            </li>
                        </ul>
                    </div>

                

                </div>

                <div class="footer__shops">
                    <div class="shops__title">
                        Shops
                    </div>

                    <div class="shops__menu">
                        <ul class="shops__list">
                            <li class="shops__item">
                                <a href="" class="shops__linkk">Pull & Bear</a>
                            </li>
                            <li class="shops__item">
                                <a href="" class="shops__linkk">Farmacy</a>
                            </li>
                            <li class="shops__item">
                                <a href="" class="shops__linkk">EcolStore & Jaz</a>
                            </li>
                            <li class="shops__item">
                                <a href="" class="shops__linkk">Music Store</a>
                            </li>
                            <li class="shops__item">
                                <a href="" class="shops__linkk">BookStore</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="footer__interest">
                    <div class="interests__title">
                        Interests
                    </div>

                    <div class="interest__menu">
                        <ul class="interests__list">
                            <li class="interests__item">
                                <a href="" class="interests__linkk">Spotify</a>
                            </li>
                            <li class="interests__item">
                                <a href="" class="interests__linkk">Labirint</a>
                            </li>
                            <li class="interests__item">
                                <a href="" class="interests__linkk">Aqua</a>
                            </li>
                            <li class="interests__item">
                                <a href="" class="interests__linkk">Dream & Gardens</a>
                            </li>
                            <li class="interests__item">
                                <a href="" class="interests__linkk">Asics</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer__links">

                <div class="links__line">
                    <div class="line"></div>
                </div>

                <div class="links__menu">
                    <ul class="links__list">
                        <li class="links__item">
                            <img src="../static/images/twiter_logo.svg" alt="">
                        </li>
                        <li class="links__item">
                            <img src="../static/images/facebook_logo.svg" alt="">
                        </li>
                        <li class="links__item">
                            <img src="../static/images/instagramm_logo.svg" alt="">
                        </li>
                        <li class="links__item">
                            <img src="../static/images/linkedin_logo.svg" alt="">
                        </li>
                        <li class="links__item">
                            <img src="../static/images/youtube_logo.svg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </div>


</body>
</html>